
<div>
<h2>Name: <%= @flat.name %></h2>


  <p><strong>Address:</strong>
  <%= @flat.address %>
  </p>

</div>
<br>
<%= link_to "Take me back", restaurants_path, class: "btn btn-primary" %>
<% end %>

